@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TicketSupport.WEB.Models.TicketViewModel.DetailsViewModel
@inject ITicketService _TicketService
@inject IProfileService _profileService
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "نمایش تیکت";
    ViewData["Parent_Title"] = "تیکت ها";
    var user = await UserManager.GetUserAsync(User);
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <strong class="pull-left text-muted">
                        <i class="fa fa-folder mr-2"></i>
                        @Model.DepartmentService.Title
                    </strong>
                    <span class="pull-right">
                        @try
                        {
                            <span>@PersianDate.Standard.ConvertDate.ToFa(Model.CreatedAt, "F")</span>
                        }
                        catch (System.Exception ex)
                        {
                        }
                    </span>
                </div>
                <div class="card-body">
                    <div class="row m-b-2">
                        <a class="col-md-1 mr-2" href="#">
                            @if (!string.IsNullOrWhiteSpace(Model.CreatedBy.Avatar))
                            {
                                <img src="@Model.CreatedBy.Avatar" class="rounded-circle" style="width:50px;" alt="@Model.CreatedBy.FullName" />
                            }
                            else
                            {
                                <img src="~/images/user-placeholder.png" class="rounded-circle" style="width:50px;" alt="@Model.CreatedBy.FullName" />
                            }

                        </a>
                        <div class="col-md-10">
                            <strong class="text-danger m-0">@Model.CreatedBy.FullName</strong><br />
                            <small class="text-muted">ایمیل: @Model.CreatedBy.Email</small>
                        </div>
                    </div>
                    <p>
                        <strong class="">@Model.Subject</strong>
                    </p>
                    <p style="text-align:justify">@Html.Raw(Model.Body)</p>

                </div>
                <div  class="card-footer">
                    <div id="div_control">
                        @if (Model.Department.DepartmentAdminId == user.Id || Model.AssignedUser.user_id == user.Id)
                        {
                            if (Model.IsClosed == "yes" ? true : false)
                            {
                                <a href="JavaScript:OpenTicket('@Model.Id')" data-toggle="tooltip" data-original-title="باز کردن تیکت" class="btn btn-info btn-sm m-r-5 pull-left"><i class="fa fa-folder text-white"></i></a>
                            }
                            else
                            {
                                <a href="JavaScript:CloseTicket('@Model.Id')" data-toggle="tooltip" data-original-title="بستن تیکت" class="btn btn-danger btn-sm m-r-5 pull-left"><i class="fa fa-lock text-white"></i></a>
                            }
                        }


                        @if ((Model.IsResolved == "yes" ? true : false))
                        {
                            <a href="JavaScript:UnFixTicket('@Model.Id')" data-toggle="tooltip" data-original-title="رفع نشده" class="btn btn-danger btn-sm m-r-5 pull-right"><i class="fa fa-thumbs-o-down text-white"></i></a>

                        }
                        else
                        {
                            <a href="JavaScript:FixTicket('@Model.Id')" data-toggle="tooltip" data-original-title="رفع شده" class="btn btn-success  btn-sm m-r-5 pull-right"><i class="fa fa-check text-white"></i></a>
                        }
                    </div>
                    
                </div>
            </div>
            @if (Model.CanAssignUserToTicket)
            {
            <div class="card">
                <div class="card-header">
                    <strong><i class="fa fa-users mr-2"></i>اختصاص کارشناس</strong>
                </div>
                <div class="card-body">
                    <div class="row" id="assign_user">

                        <select id="drp_users" class="form-control">
                            <option value="@Guid.Empty">-- انتخاب کارشناس --</option>
                            @foreach (var item in Model.TicketUsersSupport)
                            {
                                <option value="@item.user_id">@item.full_name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="col-md-4">
            <div class="card chat-app-wrapper">
                <div class="row chat-app">

                    <div class="col-xl-12 col-md-12 chat-body">
                        <div class="chat-body-header">
                            <a href="#" class="btn btn-dark opacity-3 m-r-10 btn-chat-sidebar-open">
                                <i class="ti-menu"></i>
                            </a>
                            <div>
                                <figure class="avatar avatar-sm m-r-10">
                                    <img src="@(!string.IsNullOrWhiteSpace(Model.AssignedUser.avatar) ? Model.AssignedUser.avatar:"../../assets/media/image/avatar.jpg")" alt="@Model.AssignedUser.full_name" class="rounded-circle mr-1">
                                </figure>
                            </div>
                            <div>
                                <h6 class="mb-1 primary-font line-height-18">کارشناس : @Model.AssignedUser.full_name</h6>
                                <span class="small text-success">
                                    @try
                                    {
                                        <spam>@PersianDate.Standard.ConvertDate.ToFa(Model.AssignedUser.date, "f")</spam>
                                    }
                                    catch (Exception ex)
                                    {
                                        Console.WriteLine(ex.ToString());
                                    }
                                </span>
                            </div>

                        </div>
                        <div class="chat-body-messages">
                            <div class="message-items">
                                @foreach (var item in Model.Replays)
                                {
                                    var user1 = await _profileService.GetUserProfileAsync(item.user_id);
                                    <div class="message-item  @(item.is_me == true ? "outgoing-message":"")">
                                     
                                        <p>@item.text</p>
                                        @try
                                        {
                                            <small class="message-item-date text-muted">@PersianDate.Standard.ConvertDate.ToFa(item.created_at, "hh:MM")</small>
                                        }
                                        catch (System.Exception)
                                        {
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="chat-body-footer">
                            <form class="d-flex align-items-center">
                                <input id="txt_msg" type="text" class="form-control" placeholder="پیام ...">
                                <div class="d-flex">
                                    <a href="JavaScript:SendAnswer()" type="button" class="ml-3 btn btn-primary text-white btn-floating">
                                        <i class="fa fa-send"></i>
                                    </a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

     function CloseTicket(id){
            if(id ==""){
                    return false;
            }

         $.ajax({
             cache: false,
             url: '@Url.Action("CloseTicket")',
             type: 'POST',
             dataType: 'JSON',
             data: {
                 "ticket_id": id,
                 "isClosed": "True"
             },
             success: function (data) {
                 $("#div_control").load('@Url.Action("Details","Ticket",new{id=Model.Id}) #div_control');
             },
             error: function (err) {

             }
         });

        }

         function OpenTicket(id){

            if(id ==""){
                    return false;
            }
             $.ajax({
                 cache: false,
                 url: '@Url.Action("CloseTicket")',
                 type: 'POST',
                 dataType: 'JSON',
                 data: {
                     "ticket_id": id,
                     "isClosed": "False"
                 },
                 success: function (data) {
                     $("#div_control").load('@Url.Action("Details","Ticket",new{id=Model.Id}) #div_control');
                 },
                 error: function (err) {

                 }
             });

        }



        function FixTicket(id){

            if(id ==""){

                    return false;
            }
            $.ajax({
                cache: false,
                url: '@Url.Action("ResolveTicket")',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    "ticket_id": id,
                    "isResolved": "True"
                },
                success: function (data) {
                    $("#div_control").load('@Url.Action("Details","Ticket",new{id=Model.Id}) #div_control');
                },
                error: function (err) {

                }
            });
        }

         function UnFixTicket(id){

            if(id ==""){
                    return false;
            }
             $.ajax({
                 cache: false,
                 url: '@Url.Action("ResolveTicket")',
                 type: 'POST',
                 dataType: 'JSON',
                 data: {
                     "ticket_id": id,
                     "isResolved": "False"
                 },
                 success: function (data) {
                     $("#div_control").load('@Url.Action("Details","Ticket",new{id=Model.Id}) #div_control');
                 },
                 error: function (err) {

                 }
             });
        }




    $("#drp_users").change(function() {

        var data={
            "ticket_id":"@Model.Id",
            "user_id": $('#drp_users').find(":selected").val()
        };
        $.ajax({
            cache:false,
            url:'@Url.Action("AssignUserToTicket")',
            type:'POST',
            data:data,
            dataType:'JSON',

        success:function(data){



            $(".chat-body-header").load('@Url.Action("Details","Ticket",new { id = Model.Id}) .chat-body-header');


        },
        error:function(err){

        }
    });
        });



        function SendAnswer(){
            var text = $("#txt_msg").val();
            if (text == ""){
                return false;
            }
            $.ajax({
                cache:false,
                type:'Post',
                dataType:"JSON",
                data:{
                    text :text,
                    ticket_id:'@Model.Id'
                },
                url:'@Url.Action("SendAnswer")',
                success:function(data){

                    refreshReplays();

                },
                error:function(err){

                }
            });


        }


        function refreshReplays(){

            $(".chat-app").load("@Url.Action("Details","Ticket",new{id=@Model.Id}) .chat-app", function( response, status, xhr ) {
                $("#txt_msg").val("");
                $('.chat-body-messages').animate({ scrollTop: $('.chat-body-messages')[0].scrollHeight}, "slow");
            });
        }

    </script>
}