@using TicketSupport.DAL.Enums

@model TicketSupport.Services.Users.ProfileViewModel
@{
    ViewData["Title"] = "ویرایش کاربر : " + Model.FullName;
            ViewData["Parent_Title"] = "مدیریت";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
           
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">پروفایل</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"> تنظیمات دیگر </a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">

                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">ویرایش پروفایل</h6>
                                    <form method="post" action="@Url.Action("EditProfile")">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" asp-for="Id" />
                                        <input asp-for="Avatar" type="hidden" />
                                        <div class="form-group">
                                            <label for="branchSelect">لطفا   دپارتمان مورد نظر را انتخاب نمایید</label>
                                            @Html.DropDownList("DepartmentId",null," -- انتخاب دپارتمان -- ", htmlAttributes: new { @class="form-control" })
                                        </div>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Username"></label>
                                            <input asp-for="Username" class="form-control" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FirstName"></label>
                                            <input asp-for="FirstName" required class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LastName"></label>
                                            <input asp-for="LastName" required class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Email"></label>

                                            <div class="input-group">
                                                <input asp-for="Email" required class="form-control" />
                                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                            </div>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Phonenumber"></label>
                                            <input asp-for="Phonenumber" required class="form-control" />
                                            <span asp-validation-for="Phonenumber" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="btn btn-success btn-rounded">ذخیره</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">آپلود تصویر</h6>
                                    <p style="text-align:center"><img id="user_avatar" src="@Model.Avatar" width="200" height="200" /></p>
                                    <input type="file" accept="*.png" onchange="Upload_thumbnail(this)" />
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="@Url.Action("EditAccessLevel")" class="form-horizontal">
                                <input asp-for="Id" type="hidden" />
                                <h1></h1>
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="access_to_assets"> سطح دسترسی</label>
                                        @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control select2" })

                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <input type="submit" value="ذخیره تغییرات" class="btn btn-primary" />
                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

</div>



<script>
    function Upload_thumbnail(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Avatar').attr('value', e.target.result);
                $('#user_avatar').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>